pkgbase = safeyay
	pkgdesc = AI-assisted security review wrapper for AUR packages installed by yay
	pkgver = 0.1.0
	pkgrel = 2
	url = https://github.com/Mashaaaaaaaaaaa/safeyay
	arch = any
	license = GPL-3.0-or-later
	depends = bash
	depends = coreutils
	depends = procps-ng
	depends = python>=3.11
	depends = yay
	optdepends = ollama: use locally hosted Ollama models
	optdepends = openai-codex-bin: use the Codex CLI reviewer backend
	optdepends = claude-code: use the Claude Code CLI reviewer backend
	source = safeyay
	source = safeyay_scanner.py
	source = config.example.toml
	source = LICENSE
	sha256sums = 53b595a1611d92300e8c55302c1c3a4bdda2a222461547a1111c3d498d45c895
	sha256sums = 2a530beed15b3c4480d9bc3c088db665f4e85f4725b631b1edb3400b1afbda4f
	sha256sums = d9c3efb9cdc275636ff373f3bfa4dfc6980ea0c7fd96dd32d569af3bc9dec2be
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986

pkgname = safeyay
